* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navBar {
    display: flex;
    background-color: #fdf2e9;
    align-items: center;
}

#title {
    display: flex;
    align-items: center;
}

#navBar div img {
    height: 20px;
    width: 80px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#navBar ul {
    display: flex;


}

#navBar ul li {
    list-style-type: none;
    padding-left: 250px;
}

#navBar ul li a {
    font-family: sans-serif;
    font-weight: bold;
    list-style-type: none;
    margin-left: 30px;
    margin-right: 20px;
    padding: 3px;
    align-items: center

}

button {
    background-color: #e67e22;
    margin left: 30px;
    margin right: 50px;
    padding: 3px 10px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
    font-size: 15px;

}